.habit-detail-page {
    display: flex;
    justify-content: center;
}

.buttons {
    margin-left: 61vw;
    height: 40px;
    margin-top: 40px;
}

.buttons .delete-habit {
    background-color: red;
}

.habit-detail-container {
    margin-top: 5px;
    background-color: gray;
    width: 55vw;
    height: 50vh;
}

.habit-name {
    font-size: 40px;
}

