.habit-card .mb-8 {
  width: 100%;
  height: 10px;
} 


.activity-page .habit-card .max-w-6xl {
  padding: 1rem;
  display: flex;
  /* position: relative;
  top: -95px; */
}

.top {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#delete {
background-color: red;
}

.gridContent {
  display: flex;
  gap: 7rem;
  flex-direction: column;
}

.habit-card .pt-12 {
  width: 100%;
}
/* 
.habit-card .relative {
  position: relative;
  top: -55px;
} */

.bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.bottom .buttons {
  display: flex;
  margin-top: 20px;
  margin-right: 5px;
  height: 40px;
  width: 100%;
  gap: 10px;
  justify-content: flex-end;
} 

.top .buttons {
  display: flex;
  margin-top: 20px;
  margin-right: 5px;
  height: 40px;
  width: 100%;
  gap: 10px;
  justify-content: flex-end;
} 


/* 
.habitCard {
  background: lightgray;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.5rem;
}

.gridContent {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px;
}

.habitName {
  font-size: 20px;
  font-weight: bold;
}

.habitFrequency {
  margin: 50px 0px 0px 0px;
}

.grid-label {
  display: flex;
  flex-direction: row;
  height: 150px;
}

.create-habit {
  margin-bottom: 10px;
}
.text-label {
  margin-top: 40px;
}

.bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
}


.bottom .buttons {
  display: flex;
  margin-top: 20px;
  margin-right: 5px;
  height: 40px;
  width: 100%;
  gap: 10px;
  justify-content: flex-end;
} 
#form-btn {
    height: min-content;
    width: max-content;
}

#habit-header {
    width: min-content;
}

.gridSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

} */
