#form-btn {
    height: min-content;
    width: max-content;
}

#habit-header {
    width: min-content;
}

.gridContent {
    width: 80%;
}

.gridSection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
