#buddy-card {
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: #338cf5;
	padding: 0.5rem;
}

#remove-buddy {
	padding: 0.5rem;
}

#profile-img {
	max-width: 40px;
	max-height: auto;
}

.buddy-list .-mx-3 {
	margin-left: 0rem !important;
	margin-right: 0rem !important;
}

#buddy-list .gridContent {
	width: 100%;
	margin-top: 20px;
	gap: 0rem !important;
}
