#buddy-card {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#profile-img {
    max-width: 40px;
    max-height: auto;
}

.buddy-list .-mx-3 {
    margin-left: 0rem !important;
    margin-right: 0rem !important;
}

#buddy-list .gridContent {
    width: 100%;
    margin-top: 20px;
    gap: 0rem !important;
}
