.detail-buttons {
	display: flex;
	justify-content: flex-end;
	height: 35px;
}

.detail-buttons h1 {
	display: flex;
	width: 100%;
	font-size: 40px;
	font-style: bold;
}

.habit-detail-page {
	margin-top: 2rem;
}

.status-days {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 1rem;
}

.habit-details {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.habit-details .left {
	width: fit-content;
	margin-top: 80px;
}

.habit-details .right {
	width: min-content;
}

.right .mb-8 {
	width: fit-content;
}

#habit-details-modal .bg-white {
	width: 30%;
	max-height: 75%;
	border-radius: 10px;
	padding: 5rem;
}

/* Calendar CSS */

.react-calendar {
	min-width: 540px;
	min-height: 300px;
	margin-top: 20px;
	max-width: 100%;
	background-color: #fff;
	color: #222;
	border-radius: 8px;
	box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.125em;
}

abbr {
	color: gray !important;
}

.react-calendar__navigation button {
	color: gray !important;
	min-width: 44px;
	background: none;
	font-size: 16px;
	margin-top: 8px;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
	background-color: #f8f8fa;
}
.react-calendar__navigation button[disabled] {
	background-color: gray;
}
abbr[title] {
	text-decoration: black;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
	background: #f8f8fa;
	color: grey !important;
	border-radius: 6px;
}
.react-calendar__tile--now {
	background: #6f48eb33;
	border-radius: 6px;
	font-weight: bold;
	color: grey !important;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
	background: #6f48eb33;
	border-radius: 6px;
	font-weight: bold;
	color: #6f48eb;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
	background: #f8f8fa;
}
.react-calendar__tile--active {
	background: #6f48eb;
	border-radius: 6px;
	font-weight: bold;
	color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
	background: #6f48eb;
	color: white;
}
.react-calendar--selectRange .react-calendar__tile--hover {
	background-color: #f8f8fa;
}
.react-calendar__tile--range {
	background: #f8f8fa;
	color: #6f48eb;
	border-radius: 0;
}
.react-calendar__tile--rangeStart {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	background: #6f48eb;
	color: white;
}
.react-calendar__tile--rangeEnd {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	background: #6f48eb;
	color: white;
}

.streak-count {
	display: flex;
	font-weight: bolder;
	margin-left: 250px;
	font-size: 70px;
}
