.resource-text{
    font-size: 30px;
    font-weight: bolder;
}

.collapsible {
    border: 1px solid;
    background: lightblue;
    height: 200px;
    font-size: 20px;

}

a{
    color: blue;
}

/* .header {
    
} */